.git
.codex
.claude
.idea
**/.DS_Store
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/target
**/.turbo
**/.pnpm-store
**/.swc
**/.next
**/.rslib
**/.generated
**/dist
**/dist-rspeedy
**/dist-rsbuild
**/coverage
**/playwright-report
**/test-results
**/*.tsbuildinfo
**/*.node
