@import url("./linear.css");
@import url("@lynx-js/web-elements/elements.css");
[lynx-default-display-linear="false"] * {
  --lynx-display: flex;
  --lynx-display-toggle: var(--lynx-display-flex);
}
[lynx-default-overflow-visible="true"] x-view {
  overflow: visible;
}
