div * {
  display: flex;
  box-sizing: border-box;
  border-width: 0px;
  position: relative;
  overflow: clip;
  min-width: 0;
  min-height: 0;
  border-style: solid;
  scrollbar-width: none;
}

x-view::--webkit-scrollbar {
  display: none;
}

/**
 * only enable this toggle logic for those container elements
 */
div * {
  /*
  --lynx-display-toggle is compile-time generated.
  */
  --lynx-display-toggle: var(--lynx-display-linear);
  --lynx-display-linear: var(--lynx-display-toggle,);
  --lynx-display-flex: var(--lynx-display-toggle,);
  /*
  --lynx-linear-orientation-toggle is compile-time generated.
  */
  --lynx-linear-orientation-toggle: var(--lynx-linear-orientation-vertical);
  --lynx-linear-orientation-horizontal: var(--lynx-linear-orientation-toggle,);
  --lynx-linear-orientation-vertical: var(--lynx-linear-orientation-toggle,);
  --lynx-linear-orientation-horizontal-reverse: var(
    --lynx-linear-orientation-toggle,
  );
  --lynx-linear-orientation-vertical-reverse: var(
    --lynx-linear-orientation-toggle,
  );

  --linear-flex-direction: var(--lynx-linear-orientation-horizontal, row) var(
    --lynx-linear-orientation-vertical,
    column
  ) var(--lynx-linear-orientation-horizontal-reverse, row-reverse) var(
    --lynx-linear-orientation-vertical-reverse,
    column-reverse
  );
  --linear-justify-content: var(
    --lynx-linear-orientation-horizontal,
    var(--justify-content-row)
  ) var(--lynx-linear-orientation-vertical, var(--justify-content-column)) var(
    --lynx-linear-orientation-horizontal-reverse,
    var(--justify-content-row-reverse)
  ) var(
    --lynx-linear-orientation-vertical-reverse,
    var(--justify-content-column-reverse)
  );
}
div * {
  flex-wrap: var(--lynx-display-linear, nowrap)
    var(
      --lynx-display-flex,
      var(--flex-wrap)
    );
  flex-direction: var(--lynx-display-linear, var(--linear-flex-direction))
    var(
      --lynx-display-flex,
      var(--flex-direction)
    );
  justify-content: var(--lynx-display-linear, var(--linear-justify-content));
}

/** For @container
 *
 * when the chromuim version is less than 116.0.5806.0, the following code will crash:
 * ```
 *  <style>
      #container {
        --lynx-display: flex;
      }

      #target {
        background-color: red;
        width: 400px;
        height: 400px;
      }

      @container style(--lynx-display: flex) {
        #target {
          background-color: green;
        }
      }
    </style>
    <div id="container">
      <div id="target"></div>
    </div>
    <script>
      const target = document.getElementById('container');
      container.style.setProperty('display', 'none');
      setTimeout(() => {
        target.style.removeProperty('display');
      }, 10);
    </script>
 * ```
 * it fixed in 116.0.5806.0, detail: https://issues.chromium.org/issues/40270007
 *
 * so we limit this feature to chrome 117, safari 18, firefox no:
 * rex unit: chrome 111, safari 17.2, firefox no
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/length
 * transition-behavior:allow-discrete: chrome 117, safari 18, firefox 125
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/transition-behavior
 *  https://caniuse.com/mdn-css_properties_display_is_transitionable
 *
 * update this once firefox supports this.
 * 
 * If you want to be fully compatible with chrome below 117, you need to use a plugin @lynx-js/web-elements-compat.
 */
@supports (content-visibility: auto) and
  (transition-behavior: allow-discrete) and (width: 1rex) {
  @container style(--lynx-display: linear) {
    div * {
      /* 
       `--lynx-linear-weight-sum`
       0 -> 1
       <value> -> <value>
       */
      flex-shrink: 0;
      /* The following `calc` and `clamp` logic ensures that if 
         `--lynx-linear-weight-sum` is zero, it defaults to 1. This prevents
         division by zero and ensures consistent behavior. */
      flex-grow: calc(
        var(--lynx-linear-weight) /
          calc(
          var(--lynx-linear-weight-sum) +
            (
            1 - clamp(0, var(--lynx-linear-weight-sum) * 999999, 1)
          )
        )
      );
      flex-basis: var(--lynx-linear-weight-basis);
    }
  }

  @container not style(--lynx-display: linear) {
    div * {
      flex: var(
        --flex,
        var(--flex-grow) var(--flex-shrink) var(--flex-basis)
      );
    }
  }

  @container style(--lynx-display: linear) and
    (style(--lynx-linear-orientation: vertical) or
      style(--lynx-linear-orientation: vertical-reverse)) {
    div * {
      align-self: var(--align-self-column);
    }
  }

  @container style(--lynx-display: linear) and
    (style(--lynx-linear-orientation: horizontal) or
      style(--lynx-linear-orientation: horizontal-reverse)) {
    div * {
      align-self: var(--align-self-row);
    }
  }
}
