:root {
  --a2ui-color-background: light-dark(#eee, #111);
  --a2ui-color-on-background: light-dark(#333, #eee);

  --a2ui-color-surface: light-dark(
    color-mix(in oklab, var(--a2ui-color-background) 85%, white),
    color-mix(in oklab, var(--a2ui-color-background) 95%, white)
  );
  --a2ui-color-on-surface: light-dark(#333, #eee);

  --a2ui-color-primary: #17e;
  --a2ui-color-primary-light: color-mix(
    in oklab,
    var(--a2ui-color-primary) 85%,
    white
  );
  --a2ui-color-primary-dark: color-mix(
    in oklab,
    var(--a2ui-color-primary) 85%,
    black
  );
  --a2ui-color-primary-hover: light-dark(
    var(--a2ui-color-primary-dark),
    var(--a2ui-color-primary-light)
  );
  --a2ui-color-on-primary: #fff;

  --a2ui-color-secondary: light-dark(#ddd, #333);
  --a2ui-color-secondary-light: color-mix(
    in oklab,
    var(--a2ui-color-secondary) 85%,
    white
  );
  --a2ui-color-secondary-dark: color-mix(
    in oklab,
    var(--a2ui-color-secondary) 95%,
    black
  );
  --a2ui-color-secondary-hover: light-dark(
    var(--a2ui-color-secondary-dark),
    var(--a2ui-color-secondary-light)
  );
  --a2ui-color-on-secondary: light-dark(#333, #eee);

  --a2ui-border-radius: 0.25rem;
  --a2ui-color-border: light-dark(#ccc, #444);
  --a2ui-border-width: 1px;
  --a2ui-border: 1px solid var(--a2ui-color-border, #ccc);

  --a2ui-font-family-title: inherit;
  --a2ui-font-family-monospace: monospace;
  --a2ui-color-input: light-dark(#fff, #2a2a2a);
  --a2ui-color-on-input: light-dark(#333, #eee);

  --a2ui-grid-base: 0.5rem;
  --a2ui-spacing-xs: calc(var(--a2ui-spacing-s) / 2);
  --a2ui-spacing-s: calc(var(--a2ui-spacing-m) / 2);
  --a2ui-spacing-m: var(--a2ui-grid-base);
  --a2ui-spacing-l: calc(var(--a2ui-spacing-m) * 2);
  --a2ui-spacing-xl: calc(var(--a2ui-spacing-l) * 2);

  --a2ui-font-size: 1rem;
  --a2ui-font-scale: 1.2;
  --a2ui-font-size-xs: calc(var(--a2ui-font-size-s) / var(--a2ui-font-scale));
  --a2ui-font-size-s: calc(var(--a2ui-font-size-m) / var(--a2ui-font-scale));
  --a2ui-font-size-m: var(--a2ui-font-size);
  --a2ui-font-size-l: calc(var(--a2ui-font-size-m) * var(--a2ui-font-scale));
  --a2ui-font-size-xl: calc(var(--a2ui-font-size-l) * var(--a2ui-font-scale));
  --a2ui-font-size-2xl: calc(var(--a2ui-font-size-xl) * var(--a2ui-font-scale));

  --a2ui-line-height-headings: 1.2;
  --a2ui-line-height-body: 1.5;

  --a2ui-color-background-ambient: light-dark(#ddd, #000);
  --a2ui-color-surface-muted: light-dark(
    color-mix(in oklab, var(--a2ui-color-background) 90%, black),
    color-mix(in oklab, var(--a2ui-color-background) 90%, white)
  );
  --a2ui-color-surface-strong: light-dark(#fff, #232323);
  --a2ui-color-border-strong: light-dark(#e5e5e5, #333);
  --a2ui-color-text: var(--a2ui-color-on-background);
  --a2ui-color-text-muted: light-dark(#5d5d5d, #b3b3b3);
  --a2ui-color-text-subtle: light-dark(#9e9e9e, #6e6e6e);
  --a2ui-color-primary-content-muted: light-dark(
    rgba(255, 255, 255, 0.4),
    rgba(0, 0, 0, 0.3)
  );
  --a2ui-color-overlay: light-dark(
    rgba(0, 0, 0, 0.05),
    rgba(248, 248, 248, 0.08)
  );
}
