* {
  --tw-tx: 0;
  --tw-ty: 0;
  --tw-tz: 0;
  --tw-rx: 0;
  --tw-ry: 0;
  --tw-rz: 0;
  --tw-skx: 0;
  --tw-sky: 0;
  --tw-sx: 1;
  --tw-sy: 1
}

.box-border {
  box-sizing: border-box
}

.box-content {
  box-sizing: content-box
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.flex-col-reverse {
  flex-direction: column-reverse
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse
}

.flex-nowrap {
  flex-wrap: nowrap
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.items-stretch {
  align-items: stretch
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.border-solid {
  border-style: solid
}

.border-dashed {
  border-style: dashed
}

.border-dotted {
  border-style: dotted
}

.border-double {
  border-style: double
}

.border-none {
  border-style: none
}

.font-bold {
  font-weight: 700
}

.font-normal {
  font-weight: 400
}

.italic {
  font-style: italic
}

.not-italic {
  font-style: normal
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.content-center {
  align-content: center
}

.content-start {
  align-content: flex-start
}

.content-end {
  align-content: flex-end
}

.content-between {
  align-content: space-between
}

.content-around {
  align-content: space-around
}

.content-stretch {
  align-content: stretch
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.justify-evenly {
  justify-content: space-evenly
}

.justify-stretch {
  justify-content: stretch
}

.overflow-hidden {
  overflow: hidden
}

.overflow-visible {
  overflow: visible
}

.overflow-x-hidden {
  overflow-x: hidden
}

.overflow-y-hidden {
  overflow-y: hidden
}

.overflow-x-visible {
  overflow-x: visible
}

.overflow-y-visible {
  overflow-y: visible
}

.ltr {
  direction: ltr
}

.rtl {
  direction: rtl
}

.whitespace-normal {
  white-space: normal
}

.whitespace-nowrap {
  white-space: nowrap
}

.break-normal {
  word-break: normal
}

.break-all {
  word-break: break-all
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-start {
  text-align: start
}

.text-end {
  text-align: end
}

.no-underline {
  text-decoration: none
}

.line-through {
  text-decoration: line-through
}

.underline {
  text-decoration: underline
}
