@import "../theme.css";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  gap: var(--a2ui-spacing-m);
  padding: var(--a2ui-spacing-m) calc(var(--a2ui-spacing-m) * 1.75);
  margin: calc(var(--a2ui-spacing-xs) * 2) 0;
  border-radius: var(--a2ui-border-radius);
  background-color: var(--a2ui-color-primary);
  color: var(--a2ui-color-on-primary);
  transition:
    transform 0.12s ease,
    opacity 0.12s ease,
    background-color 0.12s ease;
}

.button.ui-active {
  background-color: var(--a2ui-color-primary-hover);
}

.button-primary {
  background-color: var(--a2ui-color-primary);
}

.button-borderless {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  color: var(--a2ui-color-primary);
}

.button .text-body,
.button .text-caption,
.button .text-h1,
.button .text-h2,
.button .text-h3,
.button .text-h4,
.button .text-h5,
.button .text-price,
.button .text-link,
.button .text-label {
  color: inherit;
}
