@import "../theme.css";

.list {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--a2ui-spacing-m) * 1.5);
  min-width: 0;
  padding: 0;
}

.list.list-horizontal {
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
}

.list.list-vertical {
  flex-direction: column;
  overflow-y: auto;
}

.list-align-start {
  align-items: flex-start;
}

.list-align-center {
  align-items: center;
}

.list-align-end {
  align-items: flex-end;
}

.list-align-stretch {
  align-items: stretch;
}
